.novaPoshtaButton-nova-poshta-button {
    display: flex;
    flex-direction: column;
    padding: 11px 40px 11px 16px;
    border: 1px solid #E2E8F0;
    border-radius: 12px;

    background-color: #fff;
    cursor: pointer;
    max-width: 344px;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.novaPoshtaButton-nova-poshta-button.novaPoshtaButton-button-horizontal {
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.novaPoshtaButton-nova-poshta-button img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.novaPoshtaButton-text {
    display: flex;
}

.novaPoshtaButton-nova-poshta-button .novaPoshtaButton-angle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    height: 16px;
}

.novaPoshtaButton-logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.novaPoshtaButton-logo-no-margin {
    margin: 0;
}

.novaPoshtaButton-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.novaPoshtaButton-modal-header {
    position: relative;
    height: 80px;
    padding: 0 20px;
    border-bottom: 1px solid #E2E8F0;
    line-height: 80px;
}

.novaPoshtaButton-modal {
    position: relative;
    width: 80%;
    height: 80%;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.novaPoshtaButton-modal-header h2 {
    margin: 0;

    font-size: 20px;
    line-height: 80px;
    font-weight: 600;
}

.novaPoshtaButton-modal-close {
    cursor: pointer;
    font-size: 32px;
    color: #333;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
}

.novaPoshtaButton-modal-iframe {
    width: 100%;
    height: calc(100% - 81px);
    border: none;
}

.novaPoshtaButton-wrapper {
    display: flex;
    flex-direction: column;

    font-weight: 500;
}

.novaPoshtaButton-wrapper .novaPoshtaButton-text {
    font-size: 16px;
    line-height: 21px;
}

.novaPoshtaButton-wrapper .novaPoshtaButton-text-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #475569;
}

.novaPoshtaButton-text-row {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 767px) {
    .novaPoshtaButton-modal {
        width: 100vw;
        height: 100vh;
    }
    .novaPoshtaButton-modal-header {
        display: none;
    }
    .novaPoshtaButton-modal-iframe {
        height: 100%;
    }
}
