/* src/tools/PaidButtonProgressBar.css */
.payment-methods-panel {
  /* width: 30vw; */
}

.PayButtons {
  width: 7.87vw;
  height: 6vh;
  padding: 0.5rem;
  border: 0.1vw;
  background: #f2f0e7;
  font-size: 1.6vh;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.PayButtons + .PayButtons {
  margin-left: -0.5vw;
}

.PayButtons.cash, .PayButtons.link {
  clip-path: polygon(0 0, 100% 0, calc(100% - 1.6vh) 100%, 0 100%);

}

.PayButtons.online,
.PayButtons.terminal,
.PayButtons.wait
{
  clip-path: polygon(1.6vh 0, 100% 0, calc(100% - 1.6vh) 100%, 0 100%);
}

.PayButtons.invoices, .PayButtons.end{
  clip-path: polygon(1.6vh 0, 100% 0, 100% 100%, 0 100%);
}

.PayButtons:hover {
  background: #fab416;
  color: white;
}
.PayButtons.link:hover  {
  font-weight: bold;
  font-size:  3vh;
}
.PayButtons.link .PayButtons.end{
  font-weight: bold;
  font-size:  2vh;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
}

.PayButtons.end:hover {
  font-weight: bold;
  font-size:  2.5vh;
}
