/* src/tools/PaidButtonProgressBar.css */
.payment-methods-panel {
  /* width: 30vw; */
}

.PayButtons {
  width: 7.87vw;
  height: 4.5vh;
  padding: 0.5rem;
  border: 0.1vw;
  background: #f2f0e7;
  font-size: 1.6vh;
  text-align: center;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
}

.PayButtons + .PayButtons {
  margin-left: -0.5vw;
}

.PayButtons.cash, .PayButtons.link {
  clip-path: polygon(0 0, 100% 0, calc(100% - 1.6vh) 100%, 0 100%);

}

.PayButtons.online,
.PayButtons.terminal,
.PayButtons.wait
{
  clip-path: polygon(1.6vh 0, 100% 0, calc(100% - 1.6vh) 100%, 0 100%);
}

.PayButtons.invoices, .PayButtons.end, .PayButtons.check {
  clip-path: polygon(1.7vh 0, 100% 0, 100% 100%, 0 100%);

}

.PayButtons:hover {
  --btn-bg-1: #f7c23b;   /* світліший від #FAB416 */
  --btn-bg-2: #FAB416;   /* основний */
  --btn-bg-3: #f2a800;   /* тепліший акцент */
  --btn-edge: #d19000;
  background:
    radial-gradient(120% 180% at 10% 0%, rgba(255,255,255,0.35), transparent 42%),
    linear-gradient(130deg, var(--btn-bg-1), var(--btn-bg-2), var(--btn-bg-3), var(--btn-bg-2));
  background-size: 250% 250%, 320% 320%;
  background-position: 30% 18%, 0% 50%;
  animation: btnGlow 3s ease-in-out infinite;
  color: white;
}
.PayButtons.link:hover  {

  font-weight: bold;
  font-size:  3vh;
}
.PayButtons.link {
  /*font-weight: bold;*/
  /*font-size:  2vh;*/
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;

  /*background: #3c60a6;*/
}
.PayButtons.check{
  /*font-weight: bold;*/
  /*font-size:  2vh;*/
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
  background: #3c60a6;
  height: 6vh;
  color: white;

}
.PayButtons.end{
  /*font-weight: bold;*/
  /*font-size:  2vh;*/
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
  background: #e01729;
  height: 6vh;
  color: white;

}
.pay-button-end-x{
  margin-left: -4vw;
}
.pay-button-end-x:hover{
  color: #faf9f5;
}
.PayButtons.end:hover {
  font-weight: bold;
  /*font-size:  2.5vh;*/
  /*background: cornflowerblue;*/

  /*background:*/
  /*  radial-gradient(120% 180% at 10% 0%, rgba(255,255,255,0.25), transparent 42%),*/
  /*  linear-gradient(*/
  /*    130deg,*/
  /*    #007a43,*/
  /*    #008249,*/
  /*    #009054,*/
  /*    #008249*/
  /*  );*/
  /*background-size: 250% 250%, 320% 320%;*/
  /*background-position: 30% 18%, 0% 50%;*/
  /*animation: btnGlow 4s ease-in-out infinite;*/
}
.pay-button-wait {
  background: #f2f0e7;
  height: 6vh;
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1vw;
  font-weight: 400;
  border-radius: 0vw;
  color: #9f9e9d;
}
.pay-button-cancel {
  background-color: red;
  color: #fbfaf6;
  width: 3vw;
}
