/* isoButtons.css */

/* контейнер-схема */
.iso-wrapper{
  position:relative;
  width:15vw;
  height:20vw;
  border-radius:12px;
  overflow:auto;
  background:#dcd9ce;
  transform:rotate(90deg);
  box-shadow:1px 1px 6px rgba(0,0,0,0.2);
}

/* центральний круг A0 */
.circle-a0{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:30%;
  aspect-ratio:1/1;
  border-radius:50%;
  background:#dcd9ce;
  display:flex;
  border: 1px solid #dcd9ce;
  align-items:center;
  justify-content:center;
  font:600 0.9rem/1 Inter, sans-serif;
  cursor:pointer;
  z-index:10;
  transition:background .15s;
  /* рамку прибрали, лишився тільки тінь */
  box-shadow:1px 4px 6px rgba(0,0,0,0.2);
}
.circle-a0:hover{background:#f5a400;}

/* підсвічення прямокутних кнопок */
.iso-wrapper button:hover{
  background:#fab416 !important;
}

/* текст повернутий */
.rot270 {
  display:inline-block;
  transform:rotate(270deg);
  transform-origin:center;
}

/* кнопки прямокутні */
.iso-wrapper button{
  box-shadow:1px 1px 6px rgba(0,0,0,0.2);
}
