/* Kassa.css */
.kassa-container {
    display: flex;
    height: 100vh;
  z-index: 3000;
}

.sidebar {
    width: 80px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
}

.sidebar-button {
    flex: 1;
    border: none;
    text-align: center;
    padding: 20px 0;
    cursor: pointer;
    background-color: #ddd;
}

.sidebar-button.color-1 { background-color: #f00; }
.sidebar-button.color-2 { background-color: #ff0; }
/* ...додати стилі для кожної кнопки */

.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.product-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.products {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.product {
    width: 100px;
    height: 100px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.stock {
    display: flex;
    justify-content: space-around;
}

.client-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #ccc;
}

.client-details, .payment, .status {
  z-index: 3000;
}

.payment-method {
    display: flex;
    justify-content: Чspace-around;
}

.payment-method button {
    flex: 1;
}

.status-change {
    background-color: red;
    padding: 5px;
    text-align: center;
}
