.trello-board {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 1vw;
    padding: 1.7vh;
    overflow-x: auto;
    border-radius: 0vw;
    }

.trello-list {
    background-color: #fbfaf6;
    padding: 2vh;
    border-radius: 1vh;
    width: 21vw;
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    font-size: 1.4vh;
}

.trello-card {
    background-color: white;
    padding: 1vh;
    margin-bottom: 1vh;
    border-radius: 0.5vw;
    box-shadow: 0 0.1vw 0.2vw rgba(0, 0, 0, 0.2);
    /*border: none;*/
}
.trello-card:hover {
    cursor: pointer;
    box-shadow: 0 0.1vw 0.2vw rgba(0, 0, 0, 0.3);
}
.trello-card-content:hover{
    box-shadow: 0 0.1vw 0.2vw rgba(0, 0, 0, 0.3);
}

.trello-card-content{
    /*box-shadow: 0 0.1vw 0.2vw rgba(0, 0, 0, 0.3);*/
    padding: 1vh;
    border-radius: 0.5vw;
}
.trello-add {
    background-color: #FBFAF6;
    padding: 1vh;
    margin-bottom: 1vh;
    border-radius: 1vh;
    box-shadow: 0 0.1vw 0.2vw rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.trello-card img {
    max-width: 50%;
    /*border: none;*/
}

/*.createdByTrelloList {*/
/*    font-size: 2vw;*/
/*    opacity: 0.5;*/
/*    !*border: none;*!*/
/*}*/
.buttonRightOfInputInTrello {
    font-size: 2.5vh;
    margin-left: 0.3vw;
    border-radius: 0.7vh;
    border: none;
    background-color: #FBFAF6;
}
.InputInTrello {
    width: 100%;
    /*height: 2vw;*/
    font-size: 2vh;
    resize: both;
    padding: 0.7vh;
    border-radius: 0.5vh;
    border: none;
    background-color: white;
}
.InputInTrelloName {
    width: 20%;
    height: 3vh;
    font-size: 1.5vh;
    resize: both;
    padding: 0.7vh;
    border-radius: 0.7vh;
    border: none;
}
