.buttonSkewedOrder {
  height: 3.5vh;
  width: 7vw;
  font-size: 0.7vw;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0 0, 100% 0, calc(100% - 17px) 100%, 0 100%);
  position: relative;
  z-index: 1;
}
.buttonSkewedOrderClient{
  /*height: 2rem;*/
  height: 3.5vh;
  width: 7vw;
  font-size: 0.7vw;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  clip-path: polygon(16px 0, 100% 0, 100% 100%, 0 100%);
  margin-left: 0.4vw;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 0;
}
.buttonSkewedOrderClient:hover {
  color: #ffffff
}

.adminButtonAdd1111111:hover {
  color: chartreuse;
}

.buttonSkewed.last {
  clip-path: polygon(1.6vh 0, 100% 0, 100% 100%, 0 100%);
  margin-right: 0;
  border-bottom-right-radius: 9px;
}

.buttonSkewed.first {
  clip-path: polygon(0 0, 100% 0, calc(100% - 1.6vh) 100%, 0 100%);
  border-bottom-left-radius: 1vh;
}
.buttonSkewedOrder:hover {
  background-color: #fab416;
  color: #fbfaf6 !important;

  transform: scale(1.02);

}
.buttonSkewed:hover {
  background: #fab416;
  color: #fff!important;
}
.buttonSkewed:active {
  background-color: #0a5c38;
}
.buttonSkewed:active::after {}
