.buttonSkewedOrder {
  height: 3.5vh;
  width: 7vw;
  font-size: 0.7vw;
  background-color: #fbfaf6;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0 0, 100% 0, calc(100% - 17px) 100%, 0 100%);
  position: relative;
  z-index: 1;
}
.buttonSkewedOrderClient{
  /*height: 2rem;*/
  width: 7vw;
  font-size: 0.7vw;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  clip-path: polygon(16px 0, 100% 0, 100% 100%, 0 100%);
  margin-right: 0;
  border-bottom-right-radius: 9px;
}
.buttonSkewedOrderClient:hover span {
  color: #ffffff;
}

.buttonSkewed.last {
  clip-path: polygon(1.6vh 0, 100% 0, 100% 100%, 0 100%);
  margin-right: 0;
  border-bottom-right-radius: 9px;
}

.buttonSkewed.first {
  clip-path: polygon(0 0, 100% 0, calc(100% - 1.6vh) 100%, 0 100%);
  border-bottom-left-radius: 1vh;
}
.buttonSkewedOrder:hover .buttonSkewed:hover{
  background-color: #fab416;
  color: #fbfaf6;

  transform: scale(1.02);

}
.buttonSkewed:hover {
  background: #fab416;
  color: #fff;
}
.buttonSkewed:active {
  background-color: #0a5c38;
}
.buttonSkewed:active::after {}
