.buttonProgressWork{
  text-transform: uppercase;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.5vw;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  border: none;
  /*transform: rotate(270deg);*/
  white-space: normal;
  word-break: break-word;
  text-align: center;
  /*font-size: 20px;*/
  height: 17vh;
  width: 80px;
  /*font-weight: 400;*/
  cursor: pointer;
  /*box-shadow: 0 8px 16px rgba(0,0,0,0.12);*/
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;

}
.status-badge {
  position: absolute;
  top: 1vh;
  left: 1vw;
  padding: 0.6vh 1.4vw;
  border-radius: 50px;
  font-weight: 400;
  font-size: 1.1vw;
  color: white;
  white-space: nowrap;
  animation: slideFadeIn 0.6s ease forwards;
  opacity: 0;
  transform: translateX(-20px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

/* Плавна поява */
@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Варіанти статусу */
.status-draft    { background-color: #fbbf24; } /* Оформлення */
.status-print    { background-color: #f59e0b; }
.status-post     { background-color: #3c60a6; }
.status-ready    { background-color: #ef77a8; }
.status-done     { background-color: #008f53; }
.status-cancel   { background-color: #db0f21; }


.buttonProgressWork:hover .buttonProgressWorkName{
  /*transform: rotate(270deg) scale(1.05);*/
  /*box-shadow: 0 12px 20px rgba(0,0,0,0.2);*/
  font-size: 21px;

}
.buttonProgressWorkName{
  writing-mode: vertical-rl;
  text-orientation: mixed;   /* вертикальний напрямок */
  color: #faf9f5;
  /*transform: rotate(90deg);*/
  display: flex;
  font-size: clamp(1vh, 3vw, 2.5vh);
  width: 5px;
  font-weight: 400;

  align-items: center;
  justify-content: center;
  white-space: pre-wrap;    /* дозволяємо перенос */
  word-break: break-word; /* перенос довгих слів */
  text-align: center;
  /*width: 100%;                !* займає ширину кнопки *!*/
  height: 100%;
  /*letter-spacing: 2px;*/
  column-count: 2;
  text-shadow:
    3px 1px #686864,
    /*-0.2px 0 #686864,*/
    /*0 0.2px #686864,*/
    /*0 -0.2px #686864;*/
}
.progress-segment {
    /*flex: 1;*/
    height: 0.5vh;
    border-radius: 1vw;
}

.status-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
}

.status-label {
    font-size: 1.3vh;

    color: #ffc107;
}

.timer {
    font-size: 1vh;

    color: #3c60a6;
    text-align: right;
    margin-bottom: 1vh;
}

.timer-left {
    text-align: left;
}

/*.button-container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 1vh;*/
/*}*/

/*.button {*/
/*    padding: 0.5vh 1vw;*/
/*    border-radius: 1vw;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    font-size: 1.3vh;*/
/*    width: 10vw;*/
/*    height: 2.5vh;*/
/*}*/

.button-take-work {
    background-color: #ffc107;
    color: #686864;
}

.button-postpress {
    background-color: #8b4513;
    color: white;
}

.button-done {
    background-color: #3c60a6;
    color: white;
}

.button-handover {
    background-color: #f075aa;
    color: white;
}

.button-pay {
    background-color: #008249;
    color: white;

}

.button-cancel {
    background-color: transparent;
    color: #ee3c23;
    margin-right: 1vw;
}

.discount-switch {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.switch {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-color: #FBFAF6;
    border: 1px solid #F2F0E7;
    cursor: pointer;
}

.switch.active {
    background-color: var(--active-color);
}

.placeholder {
    /*color: rgba(0, 0, 0, 50);*/
    animation: fadeInOut 3s infinite alternate ease-in-out;
}

@keyframes blink {
    0%, 100% { opacity: 0; }
    50% { opacity: 50; }
}
