
.color {
    background: #F2F0E7;
}

.btnFile {
    display: flex;
}

.btnm {
    border: #F2F0E7 solid 0.1vw;
    color: #000000;
    font-weight: 600;
    z-index: 33;
    border-radius: 7vw;
    transition: 0s;
}

.fileActive {
    background: #2a2a2a;
    color: #ffffff;
    border: #2a2a2a solid 0.1vw;
}

.btnm:hover {
    background: #efede6;
    border: black solid 0.1vw;
    color: black;
}

.fileActive:hover {
    background: #2a2a2a;
    color: #ffffff;
    border: #2a2a2a solid 0.1vw;
}

.gray {
    background: #F2F0E7;
    z-index: 5;
}

.btnHoverIfTransparent {
    -webkit-box-shadow: 10px 10px 61px -3px rgba(173, 173, 173, 1);
    -moz-box-shadow: 10px 10px 61px -3px rgba(173, 173, 173, 1);
    box-shadow: 10px 10px 61px -3px rgba(173, 173, 173, 1);
}

.btnHoverIfTransparent:hover {
    -webkit-box-shadow: 10px 10px 76px 0px rgb(232, 223, 196);
    -moz-box-shadow: 10px 10px 76px 0px rgb(227, 217, 191);
    box-shadow: 10px 10px 76px 0px rgb(232, 223, 197);
}

.shadowActElem {
    -webkit-box-shadow: -1px -1px 9px 4px rgba(87, 87, 87, 1);
    -moz-box-shadow: -1px -1px 9px 4px rgba(87, 87, 87, 1);
    box-shadow: -1px -1px 9px 4px rgba(87, 87, 87, 1);
}

.displayTitle {
    padding: 1vw;
    font-weight: 600;
}

.promoCodeInputsContainer {
    margin-top: 4.1vw;
}

.battonClosed {
    color: black;
    position: absolute;
    cursor: pointer;
    font-size: 0.7vw;
    /*margin-left: 35vw;*/
    /*margin-top: -0.5vw;*/
    padding: 0.3vw;
    right: 0.7vw;
    /*font-size: 1vw;*/
    width: 1vw;
    height: 1vw;

    /*background: #0c4128;*/
}

.battonClosed:hover {
    color: #EE3C23
    /*background: #ff0000;*/
}

.white {
    background: white;
    z-index: 5;
}

.presetContainer {
    justify-content: center;
    align-items: center;
}

.drukContainer {
    margin-left: 3vw;
}

.containerForFiles {
    margin-left: 3vw;
    margin-right: 3vw;
}

.mainLogo {
    margin-left: 2vw;
}

.FilesContainer {
    display: flex;
}

.FilesContainer:hover {
    opacity: 1;
}

.oneFileInFilesContainer {
    display: flex;
    margin: 1vmin;
    padding: 1vmin;
}

.oneFileInFilesContainerPicked {
    background: red;
}

.addFileButton {
    margin: 1vmin;
    padding: 1vmin;
}

.inlineBlock {
    display: flex;
}

.nonDisplay {
    display: none;
}

.frame {
    width: 100%;
    height: 85vmin;
}

.logoImg {
    height: 3vw;
}

@media (min-width: 1000px) {
    .settingsContainer {
        flex-direction: row;
    }

    .fileSettingsContainer {
        width: 100%;
    }

    .fileViewContainer {
        width: 31vw;
        display: flex;
        flex-direction: column;
    }

    .mouseScroll {
        width: 1.5vw;
        -webkit-user-drag: none;
    }

    .inputs {
        width: 10vw;
    }
}

.orientButton {
    border: none;
}

.orientButton:hover {
    border: none;
}

.materialButtons {
    border: #000000 solid 0.1vw;
    width: 14vw;
    font-weight: 400;
    font-style: normal;
    margin: 0.2vw;
}

.containerForImgInServer {
    display: flex;
    justify-content: center;
    background: #efede6;
    transition: 0.5s;
    width: 100%;
}

.flexWrapNone {
    flex-wrap: nowrap;
}

.theCanvas {
    display: flex;
    justify-content: center;
    background: white;
    overflow: auto;
}

.pdfRenderer {
    transition: 0.5s;
}

.navPanel {
    opacity: 45%;
    z-index: 50;
}

.navPanel:hover {
    opacity: 100%;
}

.fileSettingsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fileViewContainer {
    display: flex;
    overflow: hidden;
    z-index: 0;
}

.list {
    display: flex;
    background: #efede6;
    margin: 1vh;
    transition: 0.5s;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.listAndKard {
    margin: 1vh;
    transition: 0.5s;
}

.imgKarta {
    position: absolute;
    transition: 0.5s;
}

.imgInServer {
    transition: 0.5s;
}

.settingsContainer {
    z-index: 9;
    overflow: auto;
}

.optionsContainer {
    display: flex;
    flex-direction: column;
    width: 96%;
    overflow: hidden;
    margin-left: 2vw;
}

.settingSelect {
    width: 75%;
}

.thisOptionContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sizeOptionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countContainer {
    display: flex;
}

.priceContainer {
    display: flex;
}

.pagenation {
    display: flex;
}

.listAndCard {
    z-index: 1;
}

.mainItem {

}

.mainItem:hover {
    cursor: pointer;
}

.mainItem div:hover {
    background: #d4d4d4;
}

.download {
    margin-top: 40vh;
}

.redBackground:hover {
    background: red;
}

.blueBackground:hover {
    background: blue;
}

.greenBackground:hover {
    background: green;
}

.jeltBackground:hover {
    background: #ffe900;
}

.cursorPointer:hover {
    cursor: pointer;
}

.horizontalLine {
    border-bottom: solid #a8a8a8;
    margin: 0.5vw;
}

.notValid {
    background: red;
}

.navDrag {
    cursor: move;
}

.iconNavPanel {
    width: 25px;
    pointer-events: none;
}

.notMDr {
    pointer-events: none;
}

.mousePointer {
    cursor: pointer;
}

.toBlackIfHover {
    color: #818181;
    font-weight: bolder;
}

.toBlackIfHover:hover {
    color: #000000;
}

.iconInBasket {
    width: 100px;
}

.inBasketValue {
    width: 340px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.8rem;
}

.inBasketValueWrap {
    width: 340px;
    overflow: hidden;
    font-size: 0.8rem;
}

.inBasketNameContainer {
    width: 390px;
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
    padding-left: 5px;
}

.inBasketIconContainer {
    width: 150px;
    background: #f1f1f1;
}

.lFont {
    font-weight: lighter;
}

.phoneNDisplay {
    display: flex;
    flex-direction: column;
}

.modalMob {
    width: 40vw;
}

.modalMobP {
    margin-left: 30vw
}

.basketButton {
    z-index: 99;
}

.material {

}

.druk {
    width: 15vw;
    margin: 0.1vw;
    border: #000000 solid 0.1vw;
}

.format {
    width: 2.70vw;
    margin: 0.1vw;
    padding-left: 0.5vw;
    border: #000000 solid 0.1vw;
}

.formatC {
    border: #000000 solid 0.1vw;
    margin: 0.1vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.addMoreFiles {
    width: 2.3vw;
    margin-top: 0;
    font-size: 1.4vw;
    padding: 0;
}

.inputCount {
    border: none;
    border-bottom: black solid;
    border-radius: 0;
    font-size: 4vw;
    text-align: left;
    width: 14vw;
}

.inputPrice {
    border: none;
    border-radius: 0;
    font-size: 4vw;
    margin-left: 8vw;
    text-align: left;
    width: 20vw;
}

.materialsButtons {
    flex-direction: row;
}

.priceCountGroup {
    display: flex;
    flex-direction: row;
}

.materialContainer {
    width: 45vw;
}

.promoCodeContainer {
    margin-left: 3vw;
}

.promoCodeInput {
    border: none;
    border-bottom: black solid;
    border-radius: 0;
    font-size: 1vw;
    text-align: left;
    width: 14vw;
}

.priceContainer {
    margin-left: 5vw;
}

.promoCodeButton {
    margin-left: 1vw;
    padding-right: 2vw;
    padding-left: 2vw;
    border: black solid 0.1vw;
}

.slider-item {
    border: black solid 0.1vw;
    margin-left: 0.5vw;
    overflow: hidden;
}

.inputFormat {
    border: none;
    border-bottom: black solid 0.1vw;
    border-radius: 0;
}

.moreOptions {
    margin-top: 0.4vw;
    width: 50vw;
    border-radius: 7vw;
    height: 2.65vw;
    background: #F2F0E7FF;
    border: black solid 0.1vw;
}

.moreOptionsIn {
    margin-top: 0.4vw;
    border-radius: 7vw;
    height: 2.65vw;
    background: #F2F0E7FF;
    border: black solid 0.1vw;
    width: 47vw;
}

.inMoreOptions {
    width: 45vw;
    border-radius: 7vw;
    background: #F2F0E7FF;
    border: black solid 0.1vw;
}

.destinyButtons {
    font-size: 1vw;
}

input[type="number"].inputCount::-webkit-inner-spin-button,
input[type="number"].inputCount::-webkit-outer-spin-button {
    /*-webkit-appearance: none;*/
    background-color: #F2F0E7;
    -moz-background-color: #F2F0E7;
    -webkit-background-color: #F2F0E7;
    -ms-background-color: #F2F0E7;
    -webkit-background-color: #F2F0E7;
    -khtml-background-color: #F2F0E7;
    width: 6vw;
    height: 6vw;
    max-width: 6vw;
    max-height: 6vw;
    margin: 0;
}

.notDrag {
    /*width: 100%;*/
    /*max-width: 100%;*/
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.ResizableBoxC {
    /*margin: 1vw;*/
}

.DraggableBoxC {
    position: absolute;
}

#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.ResizableBoxC .react-resizable-handle-se {
    bottom: -0.5vw;
    right: -0.5vw;
    /*background: white;*/
    width: 1vw;
    height: 1vw;
}

.imgInCup {
    max-width: 100%;
    /*margin-top: 1vw;*/
}

@media (max-width: 767.98px) {
    * {
        font-size: 4vw;
        font-weight: 400;
    }

    .priceCountGroup {
        display: flex;
        flex-direction: column;
    }

    .settingsContainer {
        flex-direction: column;
    }

    .fileSettingsContainer {
        width: 100%;
    }

    .fileViewContainer {
        width: 100%;
        height: 65vh;
        display: none;
    }

    .slider-item {
        height: 2rem;
        border: black solid 0.1vw;
    }

    .FilesContainerRelative {
        height: 2rem;
    }

    .mouseScroll {
        height: 5vw;
    }

    .inputs {
        width: 30vw;
    }

    .inputsTotal {
        width: 40vw;
    }

    .logoImg {
        height: 5vw;
        min-height: 5vw;
    }

    .btn {
        font-weight: 400;
        border-radius: 10vw;
        border: #F2F0E7 solid 0.3vw;
        font-size: 3vw;
        overflow: hidden;
        white-space: nowrap;
    }

    .mouseScrollRen {
        display: none;
    }

    .displayTitle {
        padding: 1vw;
        padding-left: 8vw;
        padding-top: 4vw;
        font-weight: 600;
    }

    .navPanel {
        visibility: hidden;
    }

    .druk {
        width: 40vw;
        margin: 1vw;
        border: #000000 solid 0.3vw;
        font-size: 4vw;
    }

    .phoneNDisplay {
        display: none;
    }

    .fontSize {
        font-size: 1vw;
    }

    .modalMob {
        width: 98vw;
    }

    .modalMobP {
        margin-left: 0.5vw
    }

    .format {
        width: 9.5vw;
        margin: 1vw;
        padding-left: 1.7vw;
        border: #000000 solid 0.3vw;
        font-size: 4vw;
    }

    .formatC {
        margin: 1vw;
        padding-left: 2vw;
        padding-right: 2vw;
        border: #000000 solid 0.3vw;
        font-size: 4vw;
    }

    .inputFormat {
        border: none;
        border-bottom: black solid;
        border-radius: 0;
    }

    .inputFormatButton {
        border: none;
    }

    .filesContainerButton {
        font-size: 4vw;
    }

    .inputCount {
        border: none;
        border-bottom: black solid;
        border-radius: 0;
        font-size: 9vw;
        text-align: left;
        margin-left: 8vw;
    }

    .inputPrice {
        border: none;
        border-bottom: black solid;
        border-radius: 0;
        font-size: 11vw;
        margin-left: 8vw;
        text-align: left;
    }

    .materialsButtons {
        flex-direction: column;
    }

    .btn:hover {
        border: black solid 0.3vw;
    }

    .formatAndDruk {
        flex-direction: column;
        overflow: hidden;
    }

    .materialAndDopContainer {
        flex-direction: column;
    }

    .materialContainer {
        width: 100%;
    }

    .materialButtons {
        width: auto;
        border: #000000 solid 0.3vw;
        margin: 0.3vw;
    }

    .destinyButtons {
        font-size: 2vw;
    }

    .addMoreFiles {
        width: 8vw;
        margin-top: 0;
        font-size: 5vw;
        padding: 0;
    }
}
