.telegram-backdrop {
  position: fixed;
  inset: 0;
  /*background: #62625d;*/
  z-index: 9998;
}

.telegram-drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 38vw;
  max-width: 90vw;
  height: 100vh;
  border-radius: 15px;
  background: #faf9f5;
  box-shadow: -4px 0 20px rgba(0,0,0,0.2);
  transform: translateX(100%);
  transition: transform 2s ease;
  z-index: 9999;
}

.telegram-drawer.open {
  transform: translateX(0);
}

.telegram-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background: transparent;
  font-size: 22px;
  cursor: pointer;
}

.telegram-drawer-inner {
  display: flex;
  height: 100%;
  padding-top: 40px; /* щоб не перекривати кнопку ✕ */
}

.telegram-left {
  width: 30%;
  border-right: 1px solid #eee;
  overflow-y: auto;
}

.telegram-right {
  width: 60%;
  overflow-y: auto;
}
